# Google Cloud libraries
google-cloud-bigquery
google-cloud-bigquery-storage
google-cloud-aiplatform
vertexai
db-dtypes
flask-cors

# Data processing and analysis
pandas
numpy

# API requests
requests

# Data visualization and web app
dash
dash-bootstrap-components
plotly

# Machine learning
scikit-learn

# Web server for deployment
gunicorn